<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit Sheet</title>
		<link rel="stylesheet" href="styles/styles.css" />
		<link rel="stylesheet" href="styles/edit.css" />
		<script type="module" src="js/department.js" defer></script>
		<script type="module" src="js/edit.js" defer></script>
		<script type="module" src="js/script.js" defer></script>
	</head>
	<body>
		<header>
			<nav class="navigation-bar">
				<h1>Green River College</h1>
				<button id="sign-in-button">Sign in</button>
			</nav>
		</header>
		<main>
			<form id="page-container" action="" method="get"></form>
		</main>
	</body>
</html>
