<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit Sheet</title>
		<link rel="stylesheet" href="styles/styles.css" />
		<script type="module" src="js/department.js" defer></script>
		<script type="module" src="js/edit.js" defer></script>
	</head>
	<body>
		<header>
			<nav class="navigation-bar">
				<h1>Green River College</h1>
				<button id="sign-in-button">Sign in</button>
			</nav>
		</header>
		<main>
			<h1>Edit Sheet</h1>
			<form id="form" action="submit-form"  method="get">
				<fieldset>
					<label for="division">Division</label>
					<select id="division" name="division">
						<option value="default">Select a Division...</option>
					</select>
				</fieldset>
				<legend>Programs</legend>
				<section class="programs">
					<p>
						<div class="div-card">Anthropology</div>
                        <div class="div-card">History</div>
                        <div class="div-card">Political Science</div>
                        <div class="div-card">Psychology</div>
					</p>
				</section>
				<fieldset>
					<legend>Contacts</legend>
					<label for="chair-input">Chair: </label>
					<input
						type="text"
						id="chair-input"
						name="chair-input"
						class="input-fields"
					/>
					<label for="dean-input">Dean: </label>
					<input
						type="text"
						id="dean-input"
						name="dean-input"
						class="input-fields"
					/>
					<label for="loc-input">LOC Representative: </label>
					<input
						type="text"
						id="loc-input"
						name="loc-input"
						class="input-fields"
					/>
					<label for="pen-input">PEN Contact: </label>
					<input
						type="text"
						id="pen-input"
						name="pen-input"
						class="input-fields"
					/>
				</fieldset>
				<button id="save-btn" class="button" type="submit">Save</button>
				<button id="cancel-btn" class="button" type="button">Cancel</button>
			</form>
			<iframe
				src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSqZrRLG3J2QtDEOqSopkjmPhjw40or4dWBA602wDfu1ZM_GfLvIXuLoiVjpA1sN9lE2OTGLT5k_dyv/pubhtml?gid=1432938532&amp;single=true&amp;widget=true&amp;headers=false"
			></iframe>
		</main>
	</body>
</html>
